@{
    Layout = "_Layout";
}
@model List<StoreWeb.Models.Product>

@section Footer {
    <div>This is a Footer only in Index </div>
}
@section Header {
    <div>only for Index, Header</div>
}
<>
    @foreach (var product in Model)
    {
        <div>
            <h2>@product.ProductName</h2>
            <p>Fiyat : @product.Price</p>
            <a href="/Product/Get/@product.ProductId">Details</a>
        </div>
    }